{% extends 'base.html.twig' %}

{% block title %}{{parent() ~ ' - Home'}}{% endblock %}

{% block body %}

<div>
    <header>
        <div class="header-text">
            <h1>Bienvenue à bord</h1>
            <p class="site-layus">Location de voiture 24h/24 et 7j/7</p>
        </div>
        <div class="jumbotron">
            <div class="container">
                {{ form_start(form, {'attr': {'class': 'available-vehicle-search-form'}}) }}
                <div class="d-flex align-items-end">
                    <div class="col px-4">
                        {{ form_row(form.fromDate) }}
                    </div>
                    <div class="col px-4">
                        {{ form_row(form.toDate) }}
                    </div>
                    <div class="col px-4 text-end">
                        <button class="btn btn-success">{{ button_label|default('Rechercher') }}</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>

    </header>

    {% if vehicles %}
        <p class="container my-2 vehicles-list-info">
        {% if vehicles|length > 1 %}
            {{vehicles|length ~ ' résultats'}}
        {% else %}
            {{vehicles|length ~ ' résultat'}}
        {% endif %}
        </p>
    {% else %}
        <p class="container my-2 vehicles-list-info">Aucun résultat</p>
    {% endif %}

    {% if vehicles %}
        <ul class="vehicles-list container">
        {% for vehicle in vehicles %}

            <li class="vehicles-list-item">
                <div class="vehicle-item">
                    <div class="vehicle-item-picture">
                    {% if vehicle.picture %}
                        <img src="{{ cars_pictures_path ~ '/' ~ vehicle.picture }}" style="width:200px"/>
                    {% else %}
                        <img src="https://via.placeholder.com/200x150.webp?text=www.locauto.fr" style="width:200px"/>
                    {% endif %}
                    </div>
                    <div class="vehicle-item-details">
                        <h2 class="vehicle-item-details-title">{{ vehicle.title }}</h2>
                        <p class="vehicle-item-details-description">{{ vehicle.description }}</p>
                        {% if disabled is null %}
                            <p class="vehicle-item-details-price">Prix total : {{ rentalDays * vehicle.dailyPrice }}&euro;</p>                    
                        {% else %}
                            <p class="vehicle-item-details-price">Prix journalier : {{ vehicle.dailyPrice }}&euro;</p>                    
                        {% endif %}
                        <div class="text-start">
                            {% if disabled %}
                                <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Vous devez sélectionner une période de location et lancer une recherche de véhicules disponibles avant de pouvoir réserver" data-bs-placement="top">
                                    <button type="button" class="btn btn-success select-vehicle-button" {{disabled}}>Réserver et payer</button>
                                </span>
                            
                            {% else %}
                            <form action="{{ path('new_booking')}}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token('create' ~ vehicle.id) }}">
                                <input type="hidden" name="vehicleId" value="{{ vehicle.id }}">
                                <input type="hidden" name="memberId" value="{{ member.id | default(null)}}">
                                <input type="hidden" name="dateFrom" value="{{ dateFrom }}">
                                <input type="hidden" name="dateTo" value="{{ dateTo }}">
                                <input type="hidden" name="totalPrice" value="{{ rentalDays * vehicle.dailyPrice }}">
                                <button type="submit" class="btn btn-success">Réserver et payer</button></a>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            
        
        {% endfor %}

        </ul>

    {% endif %}

        
</div>
{% endblock %}
