{% extends 'base.html.twig' %}

{% block title %}Member index{% endblock %}

{% block body %}
    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Password</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>EmailAddress</th>
                <th>Gender</th>
                <th>Roles</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.login }}</td>
                <td>{{ member.password }}</td>
                <td>{{ member.lastName }}</td>
                <td>{{ member.firstName }}</td>
                <td>{{ member.emailAddress }}</td>
                <td>{{ member.gender }}</td>
                <td>{{ member.roles ? member.roles|json_encode : '' }}</td>
                <td>{{ member.createdAt ? member.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ member.updatedAt ? member.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('member_show', {'id': member.id}) }}">show</a>
                    <a href="{{ path('member_edit', {'id': member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('member_new') }}">Create new</a>
{% endblock %}
