<div class="sidebar-wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Menu administration</h3>
        </div>
        <ul class="list-unstyled components">
            <li {{('/admin/vehicles' in app.request.pathinfo) ? 'class="active"' : '' }}>
                <a href="{{path('admin_vehicle_index')}}">Gestion véhicules</a>
            </li>
            <li {{('/admin/members' in app.request.pathinfo) ? 'class="active"' : '' }}>
                <a href="{{path('admin_member_index')}}">Gestion clients</a>
            </li>
            <li {{('/admin/orders' in app.request.pathinfo) ? 'class="active"' : '' }}>
                <a href="{{path('admin_order_index')}}">Gestion commandes</a>
            </li>
        </ul>
{% if app.request.pathinfo == '/admin/vehicles/' %}
    {{ include('admin/admin_vehicle_form.html.twig') }}
{% endif %}
    </nav>

</div>