{% extends 'base.html.twig' %}

{% block title %}LocAuto - Véhicules{% endblock %}

{% block body %}
<div class="container">
    <h1>Gestion des véhicules</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Véhicule</th>
                <th scope="col">Titre</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Description</th>
                <th scope="col">Photo</th>
                <th scope="col">Prix</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <th scope="row">{{ vehicle.id }}</td>
                <td>{{ vehicle.title }}</td>
                <td>{{ vehicle.brand }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.description }}</td>
                <td><img src="/uploads/cars/pictures/{{ vehicle.picture }}" style="width:200px"/></td>
                <td>{{ vehicle.dailyPrice }}&euro;</td>
                <td>
                    <a href="{{ path('vehicle_show', {'id': vehicle.id}) }}" title="detail" class="btn-detail"><i class="fas fa-search"></i></a>
                    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}" title="edit" class="btn-edit"><i class="fas fa-edit"></i></a>
                    <div class="btn-group btn-delete" title="delete">
                        <i class="fas fa-trash-alt dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('vehicle_delete', {'id': vehicle.id}) }}">Oui, je veux supprimer</a>
                            <a class="dropdown-item" href="#">Oups !</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ include('vehicle/_form.html.twig') }}
</div>
{% endblock %}
